




/*
     FILE ARCHIVED ON 11:42:38 Feb 5, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:10:11 Aug 12, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
BODY {
	font-family: Verdana, Arial, sans-serif;
	font-weight: 400;
	color: #DB6600;
}

FORM, TD, TH, UL, LI {
	font-family: Verdana, Arial, sans-serif;
	font-weight: 400;
}

TT {
	font-family: Courier;
	text-align: left;
}

PRE {
	text-align: left;
}

.adminmenu {
	font-size: 12px;
	font-family: sans-serif;
}

.footer {
	font-size: 12px;
	font-family: sans-serif;
	margin-left: 80px;
	margin-right: 80px;
}

B {
	color: #E9D8A2;
}

H1 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	color: #DB6600;
}

H2 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #DB6600;
}

H3 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #DB6600;
}

P {
	font-family: Verdana, Arial, sans-serif;
	font-weight: 400;
	text-align: justify;
}

A.search {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #DB6600
}

A {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none
}

.menuhead {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	color: #DB6600
}

.menuentry {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #ff9900
}

.menudiv {
	width: 100px;
	display: none;
	position: absolute;
}

.log {
 font-family: Courier;
 font-size: 12px;
 color: #ffffff;
}

/* Imported */

#menu #selcat { color: #D54700; } /* COLOUR */
#menu #selart { color: #D54700; } /* COLOUR */

#menu h2 a {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #732600; /* COLOUR */
}
#menu ul ul { width: 150px; }

	body {
		behavior:url("csshover.htc");
	}
	
	/* the menu */

	#menu {
	}

	#menu ul,#menu li,#menu a {
		display:block;
		margin:0;
		padding:0;
		border:0;
	}

	#menu ul {
		width:150px;
		Xborder:1px double #116611;
		Xbackground:#cccc99; /* COLOUR */
		background:url("images/blank.gif");
		list-style:none;
	}

	#menu li {
		position:relative;
		padding:4px;
		padding-left:9px;
		padding-right:7px;
		background:url("images/middle.gif");
		z-index:9;
	}

	#menu li.header {
		background:url("images/top.gif");
		padding: 0px;
		height: 29px;
		overflow: hidden;
	}

	#menu li.footer {
		background:url("images/bottom.gif") no-repeat;
		padding: 0px;
		height: 31px;
		overflow: hidden;
	}

	#menu li.folder	{ Xbackground:url("images/item_folder.gif") no-repeat; }		
	#menu li.folder ul {
		position:absolute;
		left:115; /* IE */
		top:-29px;
	}		

	#menu li.folder>ul { left:125; } /* others */

	#menu a {
		padding:2px;
		Xborder:1px solid white;
		text-decoration:none;
		color:#A33600; /* COLOUR */
		font-weight:bold;
		font-size: 10px;
		line-height: 12px;
		width:100%; /* IE */
	}

	#menu .missing {
		padding:2px;
		Xborder:1px solid white;
		text-decoration:none;
		color:gray;
		font-weight:bold;
		font-size: 10px;
		line-height: 12px;
		width:100%; /* IE */
	}

	#menu li>a { width:auto; } /* others */

	#menu li a.submenu {
		xbackground:url("images/sub2.gif") right no-repeat;
	}

	/* regular hovers */

	#menu a:hover {
		Xborder-color:gray;
		Xbackground-color:#bbb7c7;
		color:#004400; /* COLOUR */
	}

	#menu li.folder a:hover {
		Xbackground-color:#bbb7c7;
	}
	
	/* hovers with specificity */
	
	#menu li.folder:hover { z-index:10; }		
		
	#menu ul ul, #menu li:hover ul ul {
		display:none;
	}

	#menu li:hover ul, #menu li:hover li:hover ul {
		display:block;
	}		

	</style>