




/*
     FILE ARCHIVED ON 8:14:00 May 4, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 4:33:15 Aug 12, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
BODY {
	font-family: Verdana, Arial, sans-serif;
	font-weight: 400;
}

FORM, TD, TH, UL, LI {
	font-family: Verdana, Arial, sans-serif;
	font-weight: 400;
}

TT {
	font-family: Courier;
	text-align: left;
}

PRE {
	text-align: left;
}

.missing {
	font-family: Verdana, Arial, sans-serif;
	color: gray;
}

.adminmenu {
	font-size: 12px;
	font-family: sans-serif;
}

.footer {
	font-size: 12px;
	font-family: sans-serif;
	margin-left: 80px;
	margin-right: 80px;
}

B {
	color: yellow
}

H1 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	color: #ff6600;
}

H2 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #ff6600;
}

H3 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #ff6600;
}

P {
	font-family: Verdana, Arial, sans-serif;
	font-weight: 400;
	text-align: justify;
}

A.search {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #ff6600
}

A {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none
}
