span.aa {
  background: #000000 !important;
  color: #000000 !important;
}
span.ab {
  background: #a80000 !important;
  color: #000000 !important;
}
span.ac {
  background: #00a800 !important;
  color: #000000 !important;
}
span.ad {
  background: #a85400 !important;
  color: #000000 !important;
}
span.ae {
  background: #0000a8 !important;
  color: #000000 !important;
}
span.af {
  background: #a800a8 !important;
  color: #000000 !important;
}
span.ag {
  background: #00a8a8 !important;
  color: #000000 !important;
}
span.ah {
  background: #a8a8a8 !important;
  color: #000000 !important;
}
span.ai {
  background: #545454 !important;
  color: #000000 !important;
}
span.aj {
  background: #fc5454 !important;
  color: #000000 !important;
}
span.ak {
  background: #54fc54 !important;
  color: #000000 !important;
}
span.al {
  background: #fcfc54 !important;
  color: #000000 !important;
}
span.am {
  background: #5454fc !important;
  color: #000000 !important;
}
span.an {
  background: #fc54fc !important;
  color: #000000 !important;
}
span.ao {
  background: #54fcfc !important;
  color: #000000 !important;
}
span.ap {
  background: #fcfcfc !important;
  color: #000000 !important;
}
span.ba {
  background: #000000 !important;
  color: #a80000 !important;
}
span.bb {
  background: #a80000 !important;
  color: #a80000 !important;
}
span.bc {
  background: #00a800 !important;
  color: #a80000 !important;
}
span.bd {
  background: #a85400 !important;
  color: #a80000 !important;
}
span.be {
  background: #0000a8 !important;
  color: #a80000 !important;
}
span.bf {
  background: #a800a8 !important;
  color: #a80000 !important;
}
span.bg {
  background: #00a8a8 !important;
  color: #a80000 !important;
}
span.bh {
  background: #a8a8a8 !important;
  color: #a80000 !important;
}
span.bi {
  background: #545454 !important;
  color: #a80000 !important;
}
span.bj {
  background: #fc5454 !important;
  color: #a80000 !important;
}
span.bk {
  background: #54fc54 !important;
  color: #a80000 !important;
}
span.bl {
  background: #fcfc54 !important;
  color: #a80000 !important;
}
span.bm {
  background: #5454fc !important;
  color: #a80000 !important;
}
span.bn {
  background: #fc54fc !important;
  color: #a80000 !important;
}
span.bo {
  background: #54fcfc !important;
  color: #a80000 !important;
}
span.bp {
  background: #fcfcfc !important;
  color: #a80000 !important;
}
span.ca {
  background: #000000 !important;
  color: #00a800 !important;
}
span.cb {
  background: #a80000 !important;
  color: #00a800 !important;
}
span.cc {
  background: #00a800 !important;
  color: #00a800 !important;
}
span.cd {
  background: #a85400 !important;
  color: #00a800 !important;
}
span.ce {
  background: #0000a8 !important;
  color: #00a800 !important;
}
span.cf {
  background: #a800a8 !important;
  color: #00a800 !important;
}
span.cg {
  background: #00a8a8 !important;
  color: #00a800 !important;
}
span.ch {
  background: #a8a8a8 !important;
  color: #00a800 !important;
}
span.ci {
  background: #545454 !important;
  color: #00a800 !important;
}
span.cj {
  background: #fc5454 !important;
  color: #00a800 !important;
}
span.ck {
  background: #54fc54 !important;
  color: #00a800 !important;
}
span.cl {
  background: #fcfc54 !important;
  color: #00a800 !important;
}
span.cm {
  background: #5454fc !important;
  color: #00a800 !important;
}
span.cn {
  background: #fc54fc !important;
  color: #00a800 !important;
}
span.co {
  background: #54fcfc !important;
  color: #00a800 !important;
}
span.cp {
  background: #fcfcfc !important;
  color: #00a800 !important;
}
span.da {
  background: #000000 !important;
  color: #a85400 !important;
}
span.db {
  background: #a80000 !important;
  color: #a85400 !important;
}
span.dc {
  background: #00a800 !important;
  color: #a85400 !important;
}
span.dd {
  background: #a85400 !important;
  color: #a85400 !important;
}
span.de {
  background: #0000a8 !important;
  color: #a85400 !important;
}
span.df {
  background: #a800a8 !important;
  color: #a85400 !important;
}
span.dg {
  background: #00a8a8 !important;
  color: #a85400 !important;
}
span.dh {
  background: #a8a8a8 !important;
  color: #a85400 !important;
}
span.di {
  background: #545454 !important;
  color: #a85400 !important;
}
span.dj {
  background: #fc5454 !important;
  color: #a85400 !important;
}
span.dk {
  background: #54fc54 !important;
  color: #a85400 !important;
}
span.dl {
  background: #fcfc54 !important;
  color: #a85400 !important;
}
span.dm {
  background: #5454fc !important;
  color: #a85400 !important;
}
span.dn {
  background: #fc54fc !important;
  color: #a85400 !important;
}
span.do {
  background: #54fcfc !important;
  color: #a85400 !important;
}
span.dp {
  background: #fcfcfc !important;
  color: #a85400 !important;
}
span.ea {
  background: #000000 !important;
  color: #0000a8 !important;
}
span.eb {
  background: #a80000 !important;
  color: #0000a8 !important;
}
span.ec {
  background: #00a800 !important;
  color: #0000a8 !important;
}
span.ed {
  background: #a85400 !important;
  color: #0000a8 !important;
}
span.ee {
  background: #0000a8 !important;
  color: #0000a8 !important;
}
span.ef {
  background: #a800a8 !important;
  color: #0000a8 !important;
}
span.eg {
  background: #00a8a8 !important;
  color: #0000a8 !important;
}
span.eh {
  background: #a8a8a8 !important;
  color: #0000a8 !important;
}
span.ei {
  background: #545454 !important;
  color: #0000a8 !important;
}
span.ej {
  background: #fc5454 !important;
  color: #0000a8 !important;
}
span.ek {
  background: #54fc54 !important;
  color: #0000a8 !important;
}
span.el {
  background: #fcfc54 !important;
  color: #0000a8 !important;
}
span.em {
  background: #5454fc !important;
  color: #0000a8 !important;
}
span.en {
  background: #fc54fc !important;
  color: #0000a8 !important;
}
span.eo {
  background: #54fcfc !important;
  color: #0000a8 !important;
}
span.ep {
  background: #fcfcfc !important;
  color: #0000a8 !important;
}
span.fa {
  background: #000000 !important;
  color: #a800a8 !important;
}
span.fb {
  background: #a80000 !important;
  color: #a800a8 !important;
}
span.fc {
  background: #00a800 !important;
  color: #a800a8 !important;
}
span.fd {
  background: #a85400 !important;
  color: #a800a8 !important;
}
span.fe {
  background: #0000a8 !important;
  color: #a800a8 !important;
}
span.ff {
  background: #a800a8 !important;
  color: #a800a8 !important;
}
span.fg {
  background: #00a8a8 !important;
  color: #a800a8 !important;
}
span.fh {
  background: #a8a8a8 !important;
  color: #a800a8 !important;
}
span.fi {
  background: #545454 !important;
  color: #a800a8 !important;
}
span.fj {
  background: #fc5454 !important;
  color: #a800a8 !important;
}
span.fk {
  background: #54fc54 !important;
  color: #a800a8 !important;
}
span.fl {
  background: #fcfc54 !important;
  color: #a800a8 !important;
}
span.fm {
  background: #5454fc !important;
  color: #a800a8 !important;
}
span.fn {
  background: #fc54fc !important;
  color: #a800a8 !important;
}
span.fo {
  background: #54fcfc !important;
  color: #a800a8 !important;
}
span.fp {
  background: #fcfcfc !important;
  color: #a800a8 !important;
}
span.ga {
  background: #000000 !important;
  color: #00a8a8 !important;
}
span.gb {
  background: #a80000 !important;
  color: #00a8a8 !important;
}
span.gc {
  background: #00a800 !important;
  color: #00a8a8 !important;
}
span.gd {
  background: #a85400 !important;
  color: #00a8a8 !important;
}
span.ge {
  background: #0000a8 !important;
  color: #00a8a8 !important;
}
span.gf {
  background: #a800a8 !important;
  color: #00a8a8 !important;
}
span.gg {
  background: #00a8a8 !important;
  color: #00a8a8 !important;
}
span.gh {
  background: #a8a8a8 !important;
  color: #00a8a8 !important;
}
span.gi {
  background: #545454 !important;
  color: #00a8a8 !important;
}
span.gj {
  background: #fc5454 !important;
  color: #00a8a8 !important;
}
span.gk {
  background: #54fc54 !important;
  color: #00a8a8 !important;
}
span.gl {
  background: #fcfc54 !important;
  color: #00a8a8 !important;
}
span.gm {
  background: #5454fc !important;
  color: #00a8a8 !important;
}
span.gn {
  background: #fc54fc !important;
  color: #00a8a8 !important;
}
span.go {
  background: #54fcfc !important;
  color: #00a8a8 !important;
}
span.gp {
  background: #fcfcfc !important;
  color: #00a8a8 !important;
}
span.ha {
  background: #000000 !important;
  color: #a8a8a8 !important;
}
span.hb {
  background: #a80000 !important;
  color: #a8a8a8 !important;
}
span.hc {
  background: #00a800 !important;
  color: #a8a8a8 !important;
}
span.hd {
  background: #a85400 !important;
  color: #a8a8a8 !important;
}
span.he {
  background: #0000a8 !important;
  color: #a8a8a8 !important;
}
span.hf {
  background: #a800a8 !important;
  color: #a8a8a8 !important;
}
span.hg {
  background: #00a8a8 !important;
  color: #a8a8a8 !important;
}
span.hh {
  background: #a8a8a8 !important;
  color: #a8a8a8 !important;
}
span.hi {
  background: #545454 !important;
  color: #a8a8a8 !important;
}
span.hj {
  background: #fc5454 !important;
  color: #a8a8a8 !important;
}
span.hk {
  background: #54fc54 !important;
  color: #a8a8a8 !important;
}
span.hl {
  background: #fcfc54 !important;
  color: #a8a8a8 !important;
}
span.hm {
  background: #5454fc !important;
  color: #a8a8a8 !important;
}
span.hn {
  background: #fc54fc !important;
  color: #a8a8a8 !important;
}
span.ho {
  background: #54fcfc !important;
  color: #a8a8a8 !important;
}
span.hp {
  background: #fcfcfc !important;
  color: #a8a8a8 !important;
}
span.ia {
  background: #000000 !important;
  color: #545454 !important;
}
span.ib {
  background: #a80000 !important;
  color: #545454 !important;
}
span.ic {
  background: #00a800 !important;
  color: #545454 !important;
}
span.id {
  background: #a85400 !important;
  color: #545454 !important;
}
span.ie {
  background: #0000a8 !important;
  color: #545454 !important;
}
span.if {
  background: #a800a8 !important;
  color: #545454 !important;
}
span.ig {
  background: #00a8a8 !important;
  color: #545454 !important;
}
span.ih {
  background: #a8a8a8 !important;
  color: #545454 !important;
}
span.ii {
  background: #545454 !important;
  color: #545454 !important;
}
span.ij {
  background: #fc5454 !important;
  color: #545454 !important;
}
span.ik {
  background: #54fc54 !important;
  color: #545454 !important;
}
span.il {
  background: #fcfc54 !important;
  color: #545454 !important;
}
span.im {
  background: #5454fc !important;
  color: #545454 !important;
}
span.in {
  background: #fc54fc !important;
  color: #545454 !important;
}
span.io {
  background: #54fcfc !important;
  color: #545454 !important;
}
span.ip {
  background: #fcfcfc !important;
  color: #545454 !important;
}
span.ja {
  background: #000000 !important;
  color: #fc5454 !important;
}
span.jb {
  background: #a80000 !important;
  color: #fc5454 !important;
}
span.jc {
  background: #00a800 !important;
  color: #fc5454 !important;
}
span.jd {
  background: #a85400 !important;
  color: #fc5454 !important;
}
span.je {
  background: #0000a8 !important;
  color: #fc5454 !important;
}
span.jf {
  background: #a800a8 !important;
  color: #fc5454 !important;
}
span.jg {
  background: #00a8a8 !important;
  color: #fc5454 !important;
}
span.jh {
  background: #a8a8a8 !important;
  color: #fc5454 !important;
}
span.ji {
  background: #545454 !important;
  color: #fc5454 !important;
}
span.jj {
  background: #fc5454 !important;
  color: #fc5454 !important;
}
span.jk {
  background: #54fc54 !important;
  color: #fc5454 !important;
}
span.jl {
  background: #fcfc54 !important;
  color: #fc5454 !important;
}
span.jm {
  background: #5454fc !important;
  color: #fc5454 !important;
}
span.jn {
  background: #fc54fc !important;
  color: #fc5454 !important;
}
span.jo {
  background: #54fcfc !important;
  color: #fc5454 !important;
}
span.jp {
  background: #fcfcfc !important;
  color: #fc5454 !important;
}
span.ka {
  background: #000000 !important;
  color: #54fc54 !important;
}
span.kb {
  background: #a80000 !important;
  color: #54fc54 !important;
}
span.kc {
  background: #00a800 !important;
  color: #54fc54 !important;
}
span.kd {
  background: #a85400 !important;
  color: #54fc54 !important;
}
span.ke {
  background: #0000a8 !important;
  color: #54fc54 !important;
}
span.kf {
  background: #a800a8 !important;
  color: #54fc54 !important;
}
span.kg {
  background: #00a8a8 !important;
  color: #54fc54 !important;
}
span.kh {
  background: #a8a8a8 !important;
  color: #54fc54 !important;
}
span.ki {
  background: #545454 !important;
  color: #54fc54 !important;
}
span.kj {
  background: #fc5454 !important;
  color: #54fc54 !important;
}
span.kk {
  background: #54fc54 !important;
  color: #54fc54 !important;
}
span.kl {
  background: #fcfc54 !important;
  color: #54fc54 !important;
}
span.km {
  background: #5454fc !important;
  color: #54fc54 !important;
}
span.kn {
  background: #fc54fc !important;
  color: #54fc54 !important;
}
span.ko {
  background: #54fcfc !important;
  color: #54fc54 !important;
}
span.kp {
  background: #fcfcfc !important;
  color: #54fc54 !important;
}
span.la {
  background: #000000 !important;
  color: #fcfc54 !important;
}
span.lb {
  background: #a80000 !important;
  color: #fcfc54 !important;
}
span.lc {
  background: #00a800 !important;
  color: #fcfc54 !important;
}
span.ld {
  background: #a85400 !important;
  color: #fcfc54 !important;
}
span.le {
  background: #0000a8 !important;
  color: #fcfc54 !important;
}
span.lf {
  background: #a800a8 !important;
  color: #fcfc54 !important;
}
span.lg {
  background: #00a8a8 !important;
  color: #fcfc54 !important;
}
span.lh {
  background: #a8a8a8 !important;
  color: #fcfc54 !important;
}
span.li {
  background: #545454 !important;
  color: #fcfc54 !important;
}
span.lj {
  background: #fc5454 !important;
  color: #fcfc54 !important;
}
span.lk {
  background: #54fc54 !important;
  color: #fcfc54 !important;
}
span.ll {
  background: #fcfc54 !important;
  color: #fcfc54 !important;
}
span.lm {
  background: #5454fc !important;
  color: #fcfc54 !important;
}
span.ln {
  background: #fc54fc !important;
  color: #fcfc54 !important;
}
span.lo {
  background: #54fcfc !important;
  color: #fcfc54 !important;
}
span.lp {
  background: #fcfcfc !important;
  color: #fcfc54 !important;
}
span.ma {
  background: #000000 !important;
  color: #5454fc !important;
}
span.mb {
  background: #a80000 !important;
  color: #5454fc !important;
}
span.mc {
  background: #00a800 !important;
  color: #5454fc !important;
}
span.md {
  background: #a85400 !important;
  color: #5454fc !important;
}
span.me {
  background: #0000a8 !important;
  color: #5454fc !important;
}
span.mf {
  background: #a800a8 !important;
  color: #5454fc !important;
}
span.mg {
  background: #00a8a8 !important;
  color: #5454fc !important;
}
span.mh {
  background: #a8a8a8 !important;
  color: #5454fc !important;
}
span.mi {
  background: #545454 !important;
  color: #5454fc !important;
}
span.mj {
  background: #fc5454 !important;
  color: #5454fc !important;
}
span.mk {
  background: #54fc54 !important;
  color: #5454fc !important;
}
span.ml {
  background: #fcfc54 !important;
  color: #5454fc !important;
}
span.mm {
  background: #5454fc !important;
  color: #5454fc !important;
}
span.mn {
  background: #fc54fc !important;
  color: #5454fc !important;
}
span.mo {
  background: #54fcfc !important;
  color: #5454fc !important;
}
span.mp {
  background: #fcfcfc !important;
  color: #5454fc !important;
}
span.na {
  background: #000000 !important;
  color: #fc54fc !important;
}
span.nb {
  background: #a80000 !important;
  color: #fc54fc !important;
}
span.nc {
  background: #00a800 !important;
  color: #fc54fc !important;
}
span.nd {
  background: #a85400 !important;
  color: #fc54fc !important;
}
span.ne {
  background: #0000a8 !important;
  color: #fc54fc !important;
}
span.nf {
  background: #a800a8 !important;
  color: #fc54fc !important;
}
span.ng {
  background: #00a8a8 !important;
  color: #fc54fc !important;
}
span.nh {
  background: #a8a8a8 !important;
  color: #fc54fc !important;
}
span.ni {
  background: #545454 !important;
  color: #fc54fc !important;
}
span.nj {
  background: #fc5454 !important;
  color: #fc54fc !important;
}
span.nk {
  background: #54fc54 !important;
  color: #fc54fc !important;
}
span.nl {
  background: #fcfc54 !important;
  color: #fc54fc !important;
}
span.nm {
  background: #5454fc !important;
  color: #fc54fc !important;
}
span.nn {
  background: #fc54fc !important;
  color: #fc54fc !important;
}
span.no {
  background: #54fcfc !important;
  color: #fc54fc !important;
}
span.np {
  background: #fcfcfc !important;
  color: #fc54fc !important;
}
span.oa {
  background: #000000 !important;
  color: #54fcfc !important;
}
span.ob {
  background: #a80000 !important;
  color: #54fcfc !important;
}
span.oc {
  background: #00a800 !important;
  color: #54fcfc !important;
}
span.od {
  background: #a85400 !important;
  color: #54fcfc !important;
}
span.oe {
  background: #0000a8 !important;
  color: #54fcfc !important;
}
span.of {
  background: #a800a8 !important;
  color: #54fcfc !important;
}
span.og {
  background: #00a8a8 !important;
  color: #54fcfc !important;
}
span.oh {
  background: #a8a8a8 !important;
  color: #54fcfc !important;
}
span.oi {
  background: #545454 !important;
  color: #54fcfc !important;
}
span.oj {
  background: #fc5454 !important;
  color: #54fcfc !important;
}
span.ok {
  background: #54fc54 !important;
  color: #54fcfc !important;
}
span.ol {
  background: #fcfc54 !important;
  color: #54fcfc !important;
}
span.om {
  background: #5454fc !important;
  color: #54fcfc !important;
}
span.on {
  background: #fc54fc !important;
  color: #54fcfc !important;
}
span.oo {
  background: #54fcfc !important;
  color: #54fcfc !important;
}
span.op {
  background: #fcfcfc !important;
  color: #54fcfc !important;
}
span.pa {
  background: #000000 !important;
  color: #fcfcfc !important;
}
span.pb {
  background: #a80000 !important;
  color: #fcfcfc !important;
}
span.pc {
  background: #00a800 !important;
  color: #fcfcfc !important;
}
span.pd {
  background: #a85400 !important;
  color: #fcfcfc !important;
}
span.pe {
  background: #0000a8 !important;
  color: #fcfcfc !important;
}
span.pf {
  background: #a800a8 !important;
  color: #fcfcfc !important;
}
span.pg {
  background: #00a8a8 !important;
  color: #fcfcfc !important;
}
span.ph {
  background: #a8a8a8 !important;
  color: #fcfcfc !important;
}
span.pi {
  background: #545454 !important;
  color: #fcfcfc !important;
}
span.pj {
  background: #fc5454 !important;
  color: #fcfcfc !important;
}
span.pk {
  background: #54fc54 !important;
  color: #fcfcfc !important;
}
span.pl {
  background: #fcfc54 !important;
  color: #fcfcfc !important;
}
span.pm {
  background: #5454fc !important;
  color: #fcfcfc !important;
}
span.pn {
  background: #fc54fc !important;
  color: #fcfcfc !important;
}
span.po {
  background: #54fcfc !important;
  color: #fcfcfc !important;
}
span.pp {
  background: #fcfcfc !important;
  color: #fcfcfc !important;
}
BODY {
  font-family: monospace
}
